<!DOCTYPE html>
<html lang="en">
<head>
</head>
						

<!-- <div class="container-fluid">         -->
  <div class=row>
    <div class=col-md-6>    
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Ready to Eat</h3>
        </div>
        <div class="panel-body">
          



<table class="table">
  
  <tbody>
   







            {{#each burgers}}
              {{#unless devoured}}
             <tr>   
              <td>{{this.id}}.  {{this.burger_name}} </td> 
               <td><form action="/update/{{this.id}}?_method=PUT" method="POST"> 
                <button type="submit">Devour</button>
               </form></td>
              </tr>
        	   {{/unless}}
            {{/each}}

        </tbody>
        </table>
        </div>
    </div>
</div>

<div class=row>
    <div class=col-md-6>    
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Devoured</h3>
        </div>
        <div class="panel-body">
          <ul>

            
                 {{#each burgers}}
                  {{#if devoured}}
              <p> {{id}}. {{burger_name}} </p>
                {{/if}}
              {{/each}}

          </ul>
        </div>
    </div>
  </div>
</div>
<!-- </div> -->











<!-- 
 <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Devoured</h3>
  </div>
  <div class="panel-body">
 

   {{#each burgers}}
   	{{#if devoured}}
	{{burger_name}},  <br>
	{{/if}}
{{/each}}

  </div>


</div>


</div> -->


