<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../assets/css/style.css" type="text/css">
</head>
						
<div class="container-fluid"> 
  <div class="row">
    <!-- <div class="col-md-12"> -->
      
      <div class="panel panel-default">
        <div class="panel-body">
    Basic panel
  

      
      <div class="row">
        <div class="col-md-6">    
        col5
          <div class="panel panel-success">
            <div class="panel-heading"><center><h3 class="panel-title panel-title-align">Ready to Eat</h3></center></div>
            <div class="panel-body">
              <table class="table">
                <tbody>
       
                  {{#each burgers}}
                    {{#unless devoured}}
                    <tr>   
                      <td>{{this.id}}.  {{this.burger_name}} </td> 
                      <td><form action="/update/{{this.id}}?_method=PUT" method="POST"> 
                      <!-- <a href="#" class="btn btn-primary btn-sm">Small button</a> -->
                      <button type="submit" class="btn btn-xs">Devour</button>
                      </form></td>
                    </tr>
                    {{/unless}}
                  {{/each}}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6"> 
        col 5   
          <div class="panel panel-danger">
            <div class="panel-heading"><center><h3 class="panel-title panel-title-align">Devoured</h3></center></div>
            <div class="panel-body">
              <ul>
                {{#each burgers}}
                  {{#if devoured}}
                    <p> {{id}}. {{burger_name}} </p>
                  {{/if}}
                {{/each}}

              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
    </div>

    <!-- </div> -->
  </div>
</div>